// boostrap overrides
.form-control {
  padding: 2rem 1rem;
}
.form-control:focus {
  box-shadow: none;
}

.btn {
  padding: 1rem 4rem;
  border-radius: 5rem;
  font-family: NSC;
  font-size: 2rem;
}

//my-utilities
@include respondMax(575px) {
  .order-xs-1 {
    order: 1;
  }
  .order-xs-2 {
    order: 2;
  }
  .h-xs-0 {
    height: 0;
  }
}

// owl slider

.owl-dot:hover .owl-theme .owl-dots .owl-dot span {
  background-color: #fff;
}

.owl-dots button {
  &:focus {
    outline: none;
  }
}
.owl-theme .owl-dots .owl-dot span {
  width: 7px;
  height: 7px;
  border-radius: 5rem;
  background-color: #fff;
  &:hover,
  &:focus,
  &:active {
    background-color: #fff;
  }
}

.owl-theme .owl-dots .owl-dot.active span {
  width: 4rem;
  background-color: #fff;
  transition: all 0.5s;
}
